{
  extends: 'eslint-config-airbnb-improved',
  plugins: [
    'no-credentials',
  ],
  rules: {
    'no-credentials/no-credentials': [
      'error',
      {
        delimiters: ['/', '-', '.', '+'],
        maximumEntropy: 8.4,
        minimumWordLength: 3,
        shouldSplitCamelCase: true,
      },
    ],
  },
}
